.formas-de-acesso {
  display: flex;
  justify-items: center;
  padding-top: 50px;
  max-width: 60%;
}
.formas-de-acesso {
  font-family: Arial;
  font-size: 18px;
}
.formulario-de-acesso,
.formulario-de-cadastro {
  align-items: center;
  padding: 45px 120px;
}

.formulario-de-acesso {
  border-radius: 8px 0px 0px 8px;
  background-color: #6c804bb2;
  margin-bottom: 650px;
}

.formulario-de-acesso img {
  margin-top: 80px;
}

.formulario-de-acesso h2,
.formulario-de-cadastro h2 {
  padding: 12px 0px;
  margin-top: 20px;
}
.formulario-de-cadastro {
  background-color: #abb868b2;
  border-radius: 0px 8px 8px 0px;
  margin-bottom: 650px;
}

.formulario-de-cadastro img {
  height: 300px;
}
input {
  position: relative;
  background: #fff;
  padding: 8px 35px;
  display: inline-block;
  border-radius: 9999em;
}
.botao-de-acesso,
.botao-de-cadastro {
  background-color: #faae58;
  margin-left: 50px;
  padding: 20px 15px;
  border-radius: 32px;
  font-size: 16px;
  text-decoration: none;
}

.botoes-tela-de-acesso {
  padding-top: 50px;
  padding-left: 10px;
}
.botoes-tela-de-acesso a {
  font-family: Arial;
  color: #6c804b;
}

.area-de-preenchimento {
  font-size: 40px;
  font-family: Arial;
}
