.flores-lista img {
  border-radius: 16px;
  width: 140px;
  height: 140px;
  top: 2176px;
  left: 3744px;
}
.flores-lista ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 40px;
}

.sessao-de-produtos {
  margin-top: 80px;
}
