.principal--conteudo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 40px;
}

.principal--conteudo-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 15px;
}

.principal--conteudo-texto h1 {
  color: #abb868;
  padding-bottom: 40px;
}

.principal--conteudo-texto img {
  width: 75%;
  padding-bottom: 60px;
}

.principal--conteudo-imagem {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.principal--conteudo-imagem h2 {
  font-family: Arial;
  color: #6c804b;
}

.principal--conteudo-imagem a {
  text-decoration: none;
  font-size: 20px;
  color: #6c804b;
}

.principal--conteudo-imagem img {
  width: 100%;
  border-radius: 8px;
}

.lista-de-prudutos img {
  height: 300px;
  width: 300px;
}

.flores-lista {
  margin-top: 30px;
}
