/* NAVBAR*/

.header-bg {
  background-color: #e5f7d1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1160px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.menu a {
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background: #abb868;
  position: absolute;
}
.menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.botao-carrinho {
  display: flex;
  gap: 80px;
}
a {
  text-decoration: none;
}
.menu {
  background-color: #6c804b;
  padding: 5px 5px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1160px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}
.menu a {
  color: #e5f7d1;
}
