.primeira-flor {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.imagem-primeira-flor img {
  background-color: black;
  padding: 3px;
  border-radius: 16px;
  max-width: 430px;
}
.conteudo-primeira-flor h1,
.conteudo-primeira-flor p,
.conteudo-primeira-flor h2 {
  padding: 30px;
}

.conteudo-primeira-flor h1 {
  font-family: Arial;
  color: #6c804b;
  font-size: 48px;
  margin-left: 80px;
}

.conteudo-primeira-flor p {
  font-size: 22px;
  font-family: Roboto;
  margin-top: 120px;
  margin-left: 20px;
  background-color: #6c804b;
  border-radius: 8px;
}

.conteudo-primeira-flor h2 {
}
.conteudo-primeira-flor h2 {
  color: #faae58;
  font-family: Arial;
  font-size: 50px;
  margin-left: 450px;
}
