/* NAVBAR*/
.cabecalho {
  display: flex;
  flex-direction: column;
}
.cabecalho--topo {
  display: flex;
  flex-direction: row;
  background-color: #e5f7d1;
  padding: 10px 0 10px;
}

.cabecalho--topo-conteudo {
  width: 60%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho--topo-pesquisar input {
  width: 150%;
  box-sizing: border-box;
  border: 2px solid #faae58;
  border-radius: 8px;
  font-size: 16px;
  background-color: #6c804b5d;
  background-repeat: no-repeat;
  padding: 5% 20% 7%;
}

.cabecalho--topo-botao-carrinho {
  display: flex;
  gap: 65px;
}

.cabecalho--nav {
  background-color: #6c804b;
}
.cabecalho--nav-links {
  width: 60%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}
.cabecalho--nav-links a {
  text-decoration: none;
  padding: 10%;
}
