/* NAVBAR*/
.cabecalho {
  display: flex;
  flex-direction: column;
}
.cabecalho--topo {
  display: flex;
  flex-direction: row;
  background-color: n b;
  padding: 10px 0 10px;
}

.cabecalho--topo-conteudo {
  width: 60%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho--topo-pesquisar input {
  width: 150%;
  box-sizing: border-box;
  border: 2px solid #6c804b;
  border-radius: 8px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 5% 20% 7%;
}

.cabecalho--topo-botao-carrinho {
  display: flex;
  gap: 65px;
}

.cabecalho--nav {
  background-color: #6c804b;
}
.cabecalho--nav-links {
  width: 60%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.3% 0;
}
.cabecalho--nav-links a {
  text-decoration: none;
}
.cabecalho--nav-links a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background: #faae58;
  position: absolute;
}
.cabecalho--nav-links a:hover::after {
  width: 1%;
  transition: 0.3s;
}
