.nome-celula {
  padding: 0 10px 0 10px;
  width: 100px;
}

.tabela-principal {
  display: flex;
  justify-content: center;
}

.tabela-de-compras {
  font-size: 24px;
  background-color: #6c804b;
  border-radius: 8px;
  width: 100%;
  margin-top: 35px;
}

.tabela-anthurium-vermelho {
  margin-top: 60px;
  color: #abb868;
  background-color: #e5f7d1;
  padding: 3px;
}
table .tabela-heliconia-pendula {
  margin-top: 15px;
  color: #e5f7d1;
  background-color: #abb868;
  padding: 3px;
}

table .tabela-bird-of-paradise {
  margin-top: 15px;
  color: #abb868;
  background-color: #e5f7d1;
  padding: 3px;
}

.tabela-hibiscus {
  margin-top: 15px;
  color: #e5f7d1;
  background-color: #abb868;
  padding: 3px;
}
.tabela-de-compras {
  display: table;
}

.opcoes-da-pagina {
  justify-content: center;
  margin: 60px auto 0px auto;
  gap: 50px;
}
.botao-continuar-comprando,
.botao-finalizar-compra {
  background-color: #faae58;
  margin-left: 50px;
  padding: 20px 15px;
  border-radius: 32px;
}
.opcoes-da-pagina a {
  font-size: 22px;
  font-family: Arial;
  color: #6c804b;
}
